@model MortgageCalculator.Models.Mortgage1

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Enter Details</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.Principle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Principle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Principle, "", new { @class = "text-danger" })
            </div>
        </div>
        <!--
        <div class="form-group">
            @Html.LabelFor(model => model.Rate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "text-danger" })
            </div>
        </div>
            -->
        <!-- <div class="form-group">
              @Html.LabelFor(model => model.Years, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                  @Html.EditorFor(model => model.Years, new { htmlAttributes = new { @class = "form-control" } })
                  @Html.ValidationMessageFor(model => model.Years, "", new { @class = "text-danger" })
              </div>
          </div>
            -->

        <div class="form-group">
            @Html.LabelFor(model => model.Years, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.Years, "15", new { @class = "dur" })
                <span>15 Years</span>
                <br />

                @Html.RadioButtonFor(model => model.Years, "30", new { @class = "dur" })
                <span>30 Years</span>
                <br />

                @Html.RadioButtonFor(model => model.Years, "Other", new { @class = "dur", @id = "other1", onclick = "disable()" })
                <span>Other</span>
                
                
                     <input type='text' id='oth' name='yes' disabled><br>

                    @Html.ValidationMessageFor(model => model.Years, "", new { @class = "error" })
                </div>
            </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @{
                    List<SelectListItem> items = new List<SelectListItem>();
                    for (float i = 0.25f; i < 10.25; i += 0.25f)
                    {
                        SelectListItem item = new SelectListItem { Text = i.ToString(), Value = i.ToString() };
                        items.Add(item);
                    }
                }

                @Html.DropDownListFor(model => model.Rate, items, "Select Rate")
            </div>
        </div>

      

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        
        function disable() {
            document.getElementById("oth").disabled = false;
        }
        
    </script>
}
